.add-new-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.text-input {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.text-input > input {
    border: 1px solid black;
    height: 2rem;
}

.text-input > input:hover, input:focus {
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.424);
    transition: 0.3s;
    outline: none;
}

.form-label {
    font-weight: 600;
    margin-bottom: 5%;
}

.form-p-error {
    color: red;
}

.button-container {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.insert-button-add {
    width: 5rem;
    height: 2rem;
    border: none;
    color: white;
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
    margin-right: 5%;
}

.insert-button-add:hover {
    background-color: white;
    border-color: green;
    color: black;
    transition: 0.3s;
}

.clear-button {
    width: 5rem;
    height: 2rem;
    border: none;
    color: white;
    background-color: #BF1D28;
    border: 1px solid #BF1D28;
    cursor: pointer;
}

.clear-button:hover {
    background-color: white;
    border-color: #BF1D28;
    color: black;
    transition: 0.3s;
}
