.homepage {
    display: grid;
}

.newest-cars {
    box-shadow: 5px 10px 8px 10px #888888;
    display: flex;
    gap: 3rem;
    padding: 2rem;
    overflow-x: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
    scroll-behavior: smooth;
}

.newest-cars-section {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.scroll-right, .scroll-left {
    width: 10%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    border:2px solid black;
    transform: skewX(-10deg);
}

.scroll-right {
    margin-right: 5rem;
}

.scroll-left {
    margin-left: 5rem;
}

.scroll-left:hover {
    transition: 0.3s;
    color: black;
    background: white;
}

.scroll-right:hover {
    transition: 0.3s;
    color: black;
    background: white;
}

.car-card {
    padding: 0.5rem;
    background-color: rgba(128, 128, 128, 0.2);
    width: 15vw;
    border-radius: 20px;
    border: 3px solid #39D3E3;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.car-card > img {
    max-width: 100%;
}

.car-card-img {
    width: 100%;
    object-fit: cover;
}

.car-card > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.car-card > *, div > * {
    font-size: 1rem;
}   

::-webkit-scrollbar {
    height: 10px;
    margin-bottom: 2rem;
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

::-webkit-scrollbar-track-piece {
    background: #f1f1f1; 
}

::-webkit-scrollbar-track-piece:end {
    margin-right: 200px;
}

::-webkit-scrollbar-track-piece:start {
    margin-left: 200px;
}

@media screen and (max-width: 990px) {
    .car-card {
        width: 100%;
    }
}