.header {
    background-color: #3FB9FD;
    display: flex;
    align-items: center;
    height: 25vh;
    width: 100%;
}

.header-title {
    color: black;
    font-weight: 500;
    font-size: min(5rem, 15vw);
    margin-left: 3rem;
}

@media screen and (max-width:600px) {
    .header {
        justify-content: center;
        align-items: center;
    }

    .header-title {
        margin-left: 0;
    }
}
