.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    z-index: 10;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.424);
}

.navbar-content {               /* Ovo je ul lista sa linkovima na stranice */          
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: black;
    color: white;
    width: 50%;
    margin: 0;
    padding-right: 3rem;
}

.navbar-content > a {
    flex: 1;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

.navbar-content > a > li {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.navbar-content > a > li:hover {
    border-bottom-color: white;
    transition: 0.3s;
}

.navbar-content > a.active > li {
    border-bottom-color: white;
}

.hamburger-react { /* Hamburger ikonica na mobile screenu */
    display: none;
}

@media screen and (max-width:965px) {
    .hamburger-react {
        display: flex;
        margin-right: 1rem;
    }

    .navbar {
        position: sticky;
        align-items: center;
        top: 0;
        height: 10vh;
    }

    .navbar-content {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        position: fixed;
        gap: 0;
        margin: 0;
        padding: 0;
        right: 0;
        top: 35vh;
        bottom: 0;
        width: 80%;
    }

    .navbar-content > a {
       flex: unset;
    }

    .navbar-content > a.active > li {
        border-color: black;
    }

    .navbar-content > a > li {
        color: grey;
        display: flex;
        justify-content: flex-start;
        margin-left: 2rem;
    }

    .navbar-content > a > li:hover {
        color: white;
        border-color: black;
    }

    .hamburger-react {
        display: flex;
        margin-right: 1rem;
    }

    .hide {  /* ObiÄna klasa za skrivanje liste ako hamburger nije stisnut */
        display: none;
    }
}
