.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    z-index: 10;
}

.navbar-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: black;
    color: white;
    margin: 0;
    padding-right: 3rem;
    gap: 5rem;
}

.navbar-content > li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    cursor: pointer;
}

.navbar-content > li:hover {
    border-bottom-color: white;
    transition: 0.3s;
}

.hamburger-react {
    display: none;
}

@media screen and (max-width:600px) {
    .hamburger-react {
        display: flex;
        margin-right: 1rem;
    }

    .navbar {
        position: sticky;
        top: 0;
        align-items: center;
        height: 10vh;
    }

    .navbar-content {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        gap: 0;
        margin: 0;
        padding: 0;
        right: 0;
        top: 35vh;
        bottom: 0;
        padding-left: 2rem;
        width: 80%;
    }

    .navbar-content:first-child {
        border-top: 1px solid white;
    }

    .navbar-content > li {
        color: grey;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .navbar-content > li:hover {
        color: white;
        border: none;
        padding-top: 1rem;
    }

    .hide {
        display: none;
    }
}
