.all-vehicles {
    display: grid;
    grid-template-columns: 20% 80%;
}

.filter-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-options > .search-bar > h2 {
    font-size: 3vh;
}

.filter-options > .sort-by > h3 {
    font-size: 2vh;
}

.page-select {
    grid-column-start: 1;
    grid-column-end: span 2;
    display: flex;
    justify-content: center;
    width: 100%;
}

.page-select > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 1rem;
}

.page-select > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0.5rem;
}

.page-select > ul > li:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

li.active {
    background-color: black;
    color: white;
}

.sort-by {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1100px) {
    .filter-options {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: col2-end;
    }

    .search-bar {
       display: flex;
       width: 100%;
       justify-content: flex-start;
       flex-direction: column;
    }

    .search-bar > * {
        margin-left: 5%;
        margin-right: 5%;
    }

    .sort-by {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

}